/*----------------------------------------------------------*/
/*------------------------- FONTES -------------------------*/
/*----------------------------------------------------------*/

@font-face {
    font-family: 'player6-extra-bold';
    src: url(../media/fonts/StateWideSoft-ExtraBold.ttf);
}

@font-face {
    font-family: 'player6-bold';
    src: url(../media/fonts/StateWideSoft-Bold.ttf);
}

@font-face {
    font-family: 'player6';
    src: url(../media/fonts/StateWideSoft-Medium.ttf);
}

/*----------------------------------------------------------*/
/*----------------- CARACTERISTICAS GERAIS -----------------*/
/*----------------------------------------------------------*/

* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(to bottom, rgb(162, 239, 42) 0%, rgb(204, 233, 162) 30%, rgb(232, 238, 222) 90%, white 100%);
    background-color: rgb(242, 255, 239);
    cursor: default;
    margin: 0px;
}

p {
    padding-top: 0.8vw;
    font-family: player6;
}

h1,
h2 {
    font-family: player6-bold;
}

/*--------------------------------------------------------*/
/*------------------- LINHA DIVISÓRIA --------------------*/
/*--------------------------------------------------------*/

#divisao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 5vw;
    flex-basis: 100%;
}

.linha-divisoria {
    height: 1px;
    width: 90%;
    background-color: black;
    border: 1px black solid;
}

/*--------------------------------------------------------*/
/*------------------ MENU DE NAVEGAÇÃO -------------------*/
/*--------------------------------------------------------*/

#menu {
    display: flex;
    padding-left: 1vw;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    height: 100%;
    width: 2.2vw;
    cursor: default;
    overflow: hidden;
    transition: 0.6s;
}

.item-lista-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 5%;
    transition: 0.4s;
}

#menu-home:hover,
#menu-como-funciona:hover,
#menu-torneios:hover {
    transform: scale(1.16);
    cursor: pointer;
}

#menu-circle {
    width: 1.2vmin;
    height: 1.2vmin;
    background-color: black;
    border-radius: 50%;
    transition: 0.2s;
}

/*--------------------------------------------------------*/
/*---------------------- MENU WORDS ----------------------*/
/*--------------------------------------------------------*/

.menu-word {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-family: player6-bold;
    max-height: 1vw;
    padding-left: 0.6vw;
    white-space: nowrap;
}

.menu-word h1 {
    font-size: 1vw;
}

/*----------------------------------------------------------*/
/*------------------------ CONTENT -------------------------*/
/*----------------------------------------------------------*/

#content {
    padding-left: 18vw;
}

/*----------------------------------------------------------*/
/*--------------------- TOPO DA PÁGINA ---------------------*/
/*----------------------------------------------------------*/

#topo-da-pagina {
    z-index: 1000;
    position: fixed;
    display: flex;
    flex-direction: row;
    height: 4vw;
    width: 100%;
    border-bottom: 2px black solid;
    background-color: black;
    box-shadow: 2vw 0px 15px rgb(0, 0, 0, 0.5);
}

#icone-perfil {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 2.4vmin;
    padding-top: 1.8vmin;
    flex-basis: 100%;
}

/*----------------------------------------------------------*/
/*-------------------------- HOME --------------------------*/
/*----------------------------------------------------------*/

#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 18vw;
    height: 42vw;
}

#registration-status {
    position: absolute;
    top: 5vw;
    width: 40vw;
    height: 3.8vw;
}

/*----------------------------------------------------------*/
/*---------------------- COMO FUNCIONA ---------------------*/
/*----------------------------------------------------------*/

#como-funciona {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    height: 26vw;
    align-items: center;
    justify-content: space-around;
    margin-right: 20%;
    background-color: black;
    border-radius: 2vw;
    cursor: default;
    padding-top: 3vw;
    padding-bottom: 3vw;
    margin-bottom: 6vw;
}

#passo-1,
#passo-2,
#passo-3 {
    display: flex;
    flex-direction: row;
    width: 56vw;
    height: 4vw;
    background-color: black;
    color: rgb(162, 239, 42);
    align-items: center;
    border: 2px solid rgb(162, 239, 42);
    border-radius: 2vw;
    transition: 0.2s;
}

#passo-1:hover,
#passo-2:hover,
#passo-3:hover {
    transform: scale(1.02);
}

.numero-passos {
    display: flex;
    flex-direction: row;
    width: 3vw;
    height: 3vw;
    margin-left: 0.5vw;
    margin-right: 1vw;
    justify-content: center;
    align-items: center;
    font-family: player6-bold;
    color: black;
    background-color: rgb(162, 239, 42);
    border-radius: 50%;
}

.passo-escrito {
    text-align: center;
    width: 90%;
    font-size: 1vw;
    font-family: player6;
}

/*----------------------------------------------------------*/
/*------------------------ TORNEIOS ------------------------*/
/*----------------------------------------------------------*/

#torneios {
    display: flex;
    flex-direction: column;
    height: 42vw;
    flex-basis: 100%;
    margin-right: 20%;
    margin-bottom: 6vw;
}

/*----------------------------------------------------------*/
/*-------------------- IMAGEM PENTAKILL --------------------*/
/*----------------------------------------------------------*/

#inscricao-torneios {
    display: flex;
    flex-direction: row;
    flex-basis: 70vw;
    border-radius: 3vw;
    background-image: url(../media/images/splashart-pentakill-1200.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vw;
    border: 4px black solid;
}

/*----------------------------------------------------------*/
/*------------------ DESCRIÇÃO DO TORNEIO ------------------*/
/*----------------------------------------------------------*/

#descricao-torneios {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-image: linear-gradient(to right, rgb(0, 0, 0, 1), rgb(0, 0, 0, 0));
    border-radius: 3vw;
    color: rgb(162, 239, 42);
}

#nome-torneio {
    flex: 1;
    padding-left: 3vw;
    padding-top: 1vw;
}

#data-torneio {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-left: 3vw;
    padding-bottom: 2vw;
}

#mesma-linha {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

#nome-torneio .line-height-a {
    line-height: 2vw;
}

#nome-torneio .line-height-b {
    line-height: 0.8vw;
}

#nome-torneio h1,
#data-torneio h2 {
    font-size: 1.6vw;
    padding-bottom: 0.5vw;
}

#nome-torneio p,
#data-torneio p {
    font-family: player6;
    font-size: 1.1vw;
}

/*----------------------------------------------------------*/
/*------------------- BOTÃO DE INSCRIÇÃO -------------------*/
/*----------------------------------------------------------*/

#inscreva-se {
    display: flex;
    flex-direction: column;
    flex: 1;
    /* border: 2px white solid; */
    justify-content: flex-end;
    padding-bottom: 3vw;
    align-items: center;
}

#btn-inscreva-se {
    width: 20vw;
    height: 4vw;
    background-color: rgb(162, 239, 42);
    border-radius: 2vw;
    font-family: player6-extra-bold;
    font-size: 1.2vw;
    padding-bottom: 0.3vw;
    cursor: pointer;
    transition: 0.2s;
}

#btn-inscreva-se:hover {
    transform: scale(1.04);
    background-color: rgb(187, 239, 83);
}

/*----------------------------------------------------------*/
/*------------------ POP-UP DE INSCRIÇÃO -------------------*/
/*----------------------------------------------------------*/

#pop-up {
    flex-direction: column;
    width: 600px;
    border-radius: 2vw;
    box-shadow: 3px 3px 15px rgb(0, 0, 0, .5);
    background-color: rgb(0, 0, 0, .7);
    color: rgb(162, 239, 42);
    justify-content: space-evenly;
    text-align: center;
    font-family: player6;
    border: none;
}


#pop-up::backdrop {
    background-color: rgb(0, 0, 0, .5);
}

#pop-up::-webkit-scrollbar {
    width: 11px;
    height: 80px;
}

#pop-up::-webkit-scrollbar-track {
    border-radius: 1vw;
    background: rgb(162, 239, 42);
}

#pop-up::-webkit-scrollbar-thumb {
    background-color: rgb(0, 0, 0);
    border: 2.5px rgb(162, 239, 42) solid;
    border-radius: 5px;
}

#topo-pop-up {
    display: flex;
    flex-direction: row-reverse;

}

#cabecalho {
    margin-bottom: 3vw;
    padding: 0 2vw;
    text-align: center;
}

#titulo-pop-up {
    margin-left: 4vw;
    width: 100%;
}

#close-button {
    border: none;
    background-color: rgb(0, 0, 0, 0);
    cursor: pointer;
}

#close-button img {
    width: 1.5vw;
    background-color: rgb(0, 0, 0, 0);
}

#corpo-pop-up {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

#corpo-pop-up label {
    font-size: 18px;
    margin-bottom: 1vw;
}

#corpo-pop-up input {
    background-color: rgb(0, 0, 0, 0);
    border: 1px rgb(162, 239, 42) solid;
    border-radius: 8px;
    width: 20vw;
    min-width: 160px;
    color: rgb(162, 239, 42);
    font-family: 'Times New Roman', Times, serif;
    font-size: 1vw;
    padding-left: 0.5vw;
    margin-bottom: 1vw;
}

#corpo-pop-up input[type=submit] {
    background-color: rgb(162, 239, 42);
    color: black;
    font-family: player6-bold;
    font-size: 1.2vw;
    width: 20vw;
    height: 4vw;
    border-radius: 1vw;
    margin-top: 2vw;
    padding-bottom: 0.3vw;
    cursor: pointer;
    transition: 0.4s;
}

#corpo-pop-up input[type=submit]:hover {
    transform: scale(1.05);
}

.tira-rolagem {
    overflow: hidden;
}

/*----------------------------------------------------------*/
/*---------------- SEÇÃO PARA COLOCAR O ID -----------------*/
/*----------------------------------------------------------*/

#chaveamento-torneios {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 7vw;
    background-color: black;
    border-radius: 5vw;
    margin-top: 1vw;
}

#ja-esta-inscrito {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: player6;
    font-size: 1.2vw;
    justify-content: center;
    color: rgb(187, 239, 83);
    margin-left: 7vw;
    margin-right: 2vw;
    padding-bottom: 0.2vw;
}

#input-id {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px rgb(187, 239, 83) solid;
    height: 2.5vw;
    border-radius: 2vw;
    width: 22vw;
    padding-bottom: 0.2vw;
    padding-left: 1vw
}

#lupa {
    max-width: 1.2vw;
    margin-right: 0.5vw;
}

#btn-chaveamento {
    background-color: rgb(162, 239, 42);
    width: 20vw;
    height: 3vw;
    color: black;
    font-family: player6-extra-bold;
    font-size: 1vw;
    border-radius: 1.5vw;
    cursor: pointer;
    transition: 0.2s;
    padding-bottom: 0.3vw;
}

#btn-chaveamento:hover {
    transform: scale(1.04);
    background-color: rgb(187, 239, 83);
}

/*----------------------------------------------------------*/
/*------------------- POP-UP CHAVEAMENTO -------------------*/
/*----------------------------------------------------------*/

#chaveamento-pop-up {
    width: 60vw;
    height: 40vw;
    border-radius: 4vw;
    border: 2px rgb(187, 239, 83) solid;
    box-shadow: 0px 0px 0.6vw rgb(203, 193, 193, 0.7);
    background-color: black;
    padding: 0px;
}

#chaveamento-pop-up::backdrop {
    background-color: rgb(0, 0, 0, .5);
}

#chaveamento {
    display: flex;
    flex-direction: column;
    position: absolute;
    border-radius: 4vw;
    width: 100%;
    height: 100%;
    padding-left: 4vw;
}

/*----------------------------------------------------------*/
/*------------------------- ETAPAS -------------------------*/
/*----------------------------------------------------------*/

.cabecalho-chaveamento {
    display: flex;
    flex-direction: column;
    width: 52vw;
    height: 8vw;
    position: relative;
    text-align: center;
    color: rgb(187, 239, 83);
}

#close-chaveamento {
    position: absolute;
    top: 2vw;
    left: 56.5vw;
    width: 1.5vw;
    height: 1.5vw;
    background-color: red;
    padding: 0px;
    cursor: pointer;
    outline: none;
}

#close-chaveamento img {
    width: 1.5vw;
    background-color: rgb(0, 0, 0, 0);
}

.cabecalho-chaveamento h1 {
    margin-top: 3vw;
    font-size: 2.4vw;
    margin-bottom: 0px;
}

.cabecalho-chaveamento h2 {
    font-family: player6;
    font-size: 1vw;
}

.etapas-chaveamento {
    display: flex;
    flex-direction: row;
    width: 52vw;
    overflow: hidden;
    position: absolute;
}

#final {
    height: 7vw;
    justify-content: space-around;
    top: 13.5vw;
}

#semi {
    height: 7vw;
    justify-content: space-around;
    top: 20.5vw;
}

#quartas {
    height: 7vw;
    justify-content: space-around;
    top: 27.5vw;
}

/*----------------------------------------------------------*/
/*------------------------- LIGAÇÕES -----------------------*/
/*----------------------------------------------------------*/

#ligacao {
    border: 2px rgb(187, 239, 83) solid;
    position: relative;
    border-radius: 50%;
}

.ligacao-quartas {
    height: 12vw;
    width: 7vw;
}

.ligacao-semi {
    height: 10vw;
    width: 13vw;
}

.ligacao-final {
    height: 14vw;
    width: 28vw;
}

/*----------------------------------------------------------*/
/*-------------------------- TIMES -------------------------*/
/*----------------------------------------------------------*/

.time {
    position: absolute;
    width: 5vw;
    height: 5vw;
    border: 2px rgb(187, 239, 83) solid;
    border-radius: 50%;
    background-color: black;
    box-shadow: 0px 0px 1vw rgb(255, 255, 255, .3);
}

#time-1 {
    left: 4.5vw;
    top: 32vw;
}

#time-2 {
    left: 11.5vw;
    top: 32vw;
}

#time-3 {
    left: 17.5vw;
    top: 32vw;
}

#time-4 {
    left: 24.5vw;
    top: 32vw;
}

#time-5 {
    left: 30.5vw;
    top: 32vw;
}

#time-6 {
    left: 37.5vw;
    top: 32vw;
}

#time-7 {
    left: 43.5vw;
    top: 32vw;
}

#time-8 {
    left: 50.5vw;
    top: 32vw;
}

#time-9 {
    left: 8vw;
    top: 24.5vw;
}

#time-10 {
    left: 21vw;
    top: 24.5vw;
}

#time-11 {
    left: 34vw;
    top: 24.5vw;
}

#time-12 {
    left: 47vw;
    top: 24.5vw;
}

#time-13 {
    left: 14.5vw;
    top: 18vw;
}

#time-14 {
    left: 40.5vw;
    top: 18vw;
}

#time-15 {
    left: 27.5vw;
    top: 11vw;
}

#rodape {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 18vw;
    background-color: black;
    color: white;
    justify-content: space-around;
    padding: 2vw;
    align-items: center;
    line-height: 0vw;
}

#rodape h2 {
    font-size: 1vw;
}

#contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#instagram {
    display: flex;
    flex-direction: row;
    width: 35vw;
    height: 3vw;
    border: 1px white solid;
    border-radius: 1.5vw;
    justify-content: center;
    align-items: center;
    padding-top: 0.3vw;
}