@font-face {
    font-family: 'player6';
    src: url(../media/fonts/StateWideSoft-Medium.ttf);
}

*{
    box-sizing: border-box;
}

body{
    background-color: rgb(162, 239, 42);
    cursor: default;
}

#registered{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    font-family: player6;
}

h1{
    margin-bottom: 5vw;
}

#botaoretorno{
    width: 20vw;
    height: 4vw;
    background-color: rgb(162, 239, 42);
    border-radius: 2vw;
    font-family: player6;
    font-size: 1.2vw;
    padding-bottom: 0.3vw;
    cursor: pointer;
    transition: 0.2s;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}

#botaoretorno:hover{
    transform: scale(1.1);
}